@(viewModel: models.ChangeKeeperCompletionViewModel, surveyUrl: Option[String])(implicit lang: Lang,
    token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
    config: utils.helpers.Config)

@import scala.collection.mutable.LinkedHashMap
@import uk.gov.dvla.vehicles.presentation.common
@import common.views.html.widgets.alertWarning
@import common.views.html.widgets.alertSuccess
@import common.views.html.widgets.base.csrfTokenHiddenField
@import common.views.html.widgets.formSteps
@import common.views.html.widgets.playbackList
@import common.views.html.widgets.vehicleDetailPlayback
@import views.html.helper.form
@import views.changekeeper.ChangeKeeperSuccess.FinishId

@main(
    progress = Some(Messages("change_keeper_progress_6")),
    title = "Summary"
){
<div class="two-col clearfix acquire-success">
    <div class="second-col">

        @alertSuccess(Some(Messages("change_keeper_success.complete.header"))){
            <p>@Messages("change_keeper_success.complete.p1")</p>
            @alertWarning() {
                <p><strong>@Messages("change_keeper_success.complete.p2")</strong></p>
            }
        }

        <h2>@Messages("change_keeper_success.further_information.header")</h2>
        <ul>
            <li>@Messages("change_keeper_success.further_information.p1")</li>
            <li>@Messages("change_keeper_success.further_information.p2")</li>
            <li>@Messages("change_keeper_success.further_information.p3")</li>
            <li>@Messages("change_keeper_success.further_information.p4")</li>
            <li>@Messages("change_keeper_success.further_information.p5")</li>
        </ul>

        <h2>@Messages("change_keeper_success.further_information.header.2")</h2>
        <ul>
            <li>@Messages("change_keeper_success.further_information.p6")</li>
            <li>@Messages("change_keeper_success.further_information.p7")</li>
            <li>@Messages("change_keeper_success.further_information.p8")</li>
        </ul>
    </div>

    <div class="first-col">
        @playbackList(
            Messages("change_keeper_success.transaction_details.header"),
            {
                val playbackItems: LinkedHashMap[String, String] = LinkedHashMap();
                playbackItems += (
                    Messages("change_keeper_success.transaction_details.transaction_id") ->
                    viewModel.completeAndConfirmResponseModel.transactionId
                )
                playbackItems += (
                    Messages("change_keeper_success.transaction_details.transaction_date") ->
                    viewModel.completeAndConfirmResponseModel.transactionTimestamp.toString("dd/MM/yyyy")
                )
            },
            List("transaction-details")
        )()

        @vehicleDetailPlayback(
            viewModel.vehicleAndKeeperDetails,
            {
                val additionalPlaybackItems: LinkedHashMap[String, String] = LinkedHashMap()
                additionalPlaybackItems += (
                    Messages("change_keeper_success.vehicle_details.mileage") ->
                    (viewModel.dateOfSaleViewModel.mileage match {
                        case Some(mileage) => java.text.NumberFormat.getIntegerInstance().format(viewModel.dateOfSaleViewModel.mileage.get)
                        case None => Messages("change_keeper_success.vehicle_details.mileage_not_entered")
                    })
                )
            },
            List("related")
        )()

        <div class="change-keeper-summary-playback">
            @playbackList(
                Messages("change_keeper_success.new_keeper_details.p1"),
                {
                    val playbackItems: LinkedHashMap[String, String] = LinkedHashMap()
                    playbackItems += (
                        Messages("change_keeper_success.vehicle_details.name") ->
                        viewModel.newKeeperDetails.displayName
                    )
                    playbackItems += (
                        Messages("change_keeper_success.vehicle_details.address") ->
                        viewModel.newKeeperDetails.address.address.mkString("<br/>")
                    )
                    viewModel.newKeeperDetails.email match {
                        case Some(email) => playbackItems += ("EMAIL_" + Messages("change_keeper_success.vehicle_details.email") -> email)
                        case None => playbackItems += (Messages("change_keeper_success.vehicle_details.email") -> Messages("change_keeper_email_not_entered") )}
                    playbackItems += (
                        Messages("change_keeper_success.date_of_sale.label") ->
                        viewModel.dateOfSaleViewModel.dateOfSale.toString("dd/MM/yyyy")
                    )
                },
                List("related", "bg-plain")
            )()
        </div>
    </div>

    @formSteps(
        controllers.routes.ChangeKeeperSuccess.finish(),
        FinishId,
        surveyUrl,
        cssClasses = Nil,
        Map.empty
    )
</div>
}