@(viewModel: models.ChangeKeeperCompletionViewModel)(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import views.changekeeper.ChangeKeeperSuccess.FinishId
@import views.html.helper.form
@import uk.gov.dvla.vehicles.presentation.common
@import common.views.html.widgets.base.csrfTokenHiddenField

@main(
    progress = Some(Messages("change_keeper_progress_6")),
    title = Messages("change_keeper_vehiclelookupfailure.title")
) {

    <div class="two-col clearfix">

        <div class="first-col">
            <!-- keep the column here -->
        </div>

        <div class="second-col">
            <div class="alert-failed">
                <h2>@Messages("ms.vehiclesService.response.unableToProcessApplication-title")</h2>
                <p>
                    @Messages("ms.vehiclesService.response.unableToProcessApplication")
                    <br>
                    @Messages("ms.vehiclesService.response.unableToProcessApplication-address")
                </p>
            </div>
        </div>

        <div class="form-steps">
            <div class="step">
                <button id="printDisposalSuccess" type="button" name="action" value="printDisposalSuccess" class="button js-only print-button">
                    @Messages("change_keeper_failure.buttonnavprint")
                </button>
            </div>
            <div class="step">
                @form(action = controllers.routes.ChangeKeeperFailure.finish()) {
                    @csrfTokenHiddenField()
                    <button id="@FinishId" type="submit" name="action" class="button button-new-disposal button-secondary">
                        @Messages("change_keeper_failure.finish")
                    </button>
                }
            </div>
        </div>
    </div>
}