@(data: models.CompleteAndConfirmViewModel,
  dateService: uk.gov.dvla.vehicles.presentation.common.services.DateService)(implicit lang: Lang,
  token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
  config: utils.helpers.Config)

@import views.html.helper.form
@import controllers.routes.CompleteAndConfirm
@import uk.gov.dvla.vehicles.presentation.common
@import common.mappings.Mileage
@import common.views.html.widgets.dates.inputDayMonthYearTextbox
@import common.views.html.widgets.base.csrfTokenHiddenField
@import common.views.helpers.BaseTemplate.fieldConstructor
@import common.views.html.widgets.base.{valtechInputText, valtechDeclareCheck}
@import common.views.helpers.LabelHelper.optionalFieldKey
@import models.CompleteAndConfirmFormModel.Form.{MileageId, ConsentId, DateOfSaleId, TodaysDateId}
@import views.changekeeper.CompleteAndConfirm.{BackId, SubmitId, modify}

@main(
    progress = Some(Messages("change_keeper_progress_5")),
    title = Messages("change_keeper_completeAndConfirm.title"),
    currentForm = Some(data.form)
) {

    <script src="@controllers.StaticAssets.versioned(config.assetsUrl)("lib/vehicles-presentation-common/javascripts/autofill-todays-date.js")" type="text/javascript"></script>

    @if(data.isSaleDateBeforeDisposalDate) {

        <div class="site-overlay"></div>

        <!-- INTERNET EXPLORER HACKS -->

        <!-- The below code allows old IE browsers to have transparent bg without image -->
        <!--[if IE]>
           <style type="text/css">
               .site-overlay {
                   background:transparent;
                   -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5000000,endColorstr=#A5000000);
                   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5000000,endColorstr=#A5000000);
                   zoom: 1;
                }
            </style>
        <![endif]-->

        <!-- The below code is CSS fixes for IE9 only -->
        <!--[if IE 9]>
           <style type="text/css">
                .popup-modal {
                    top: 0px !important;
                }
           </style>
        <![endif]-->

        <!-- The below code is CSS fixes for IE7 only -->
        <!--[if IE 9]>
           <style type="text/css">
                .popup-modal {
                    margin: 0 auto 0 50% !important;
                    left: -225px !important;
                }
           </style>
        <![endif]-->

    }

    <div class="two-col clearfix acquire-complete-confirm">

        <div class="first-col">
            <dl class="playback">
                <dt><h2>@Messages("change_keeper_completeandconfirm.newkeeperDetails")</h2></dt>
                <dt>@Messages("change_keeper_completeandconfirm.displayName")</dt>
                <dd>@data.keeperDetails.displayName</dd>
                <dt>@Messages("change_keeper_completeandconfirm.address")</dt>
                <dd>@for(addr <- data.keeperDetails.address.address) {@addr<br/>}</dd>
                <dt>@Messages("change_keeper_completeandconfirm.email")</dt>
                @if(data.keeperDetails.email == None) {
                    <dd>@Messages("change_keeper_completeandconfirm.emailNotEntered")</dd>
                } else {
                    <dd>@data.keeperDetails.email.get</dd>
                }
                @if(data.keeperDetails.isBusinessKeeper) {
                    <dt>@Messages("change_keeper_completeandconfirm.fleetNumber")</dt>
                    @if(data.keeperDetails.fleetNumber == None) {
                        <dd>@Messages("change_keeper_completeandconfirm.fleetNumberNotEntered")</dd>
                    } else {
                        <dd>@data.keeperDetails.fleetNumber.get</dd>
                    }
                }
            </dl>
            <dl class="playback">
                <dt><h2>@Messages("change_keeper_completeandconfirm.vehicleDetails")</h2></dt>
                <dt>@Messages("change_keeper_completeandconfirm.vehicleReg")</dt>
                <dd>@data.vehicleAndKeeperDetails.registrationNumber</dd>
                <dt>@Messages("change_keeper_completeandconfirm.vehicleMake")</dt>
                <dd>@data.vehicleAndKeeperDetails.make</dd>
                <dt>@Messages("change_keeper_completeandconfirm.vehicleModel")</dt>
                <dd>@data.vehicleAndKeeperDetails.model</dd>
            </dl>
        </div>

        <div class="second-col">

            <h1>@Messages("change_keeper_completeAndConfirm.title")</h1>

            @form(action = data.submitAction) {
                @csrfTokenHiddenField()

                @valtechDeclareCheck(
                    data.form(ConsentId),
                    args = modify(Map(
                        'autofocus -> true,
                        '_showConstraints -> false,
                        '_label -> Messages("change_keeper_keeperdetailscomplete.consent")
                    ), data.isSaleDateBeforeDisposalDate)
                )

                @if(data.isSaleDateBeforeDisposalDate) {
                    <div class="popup-modal">
                        <p>@Messages("change_keeper_completeandconfirm.dateofsale.warning", data.dateOfDisposal.getOrElse("NOT FOUND"))</p>
                        <div id=@DateOfSaleId>
                        @inputDayMonthYearTextbox(
                            field = data.form(DateOfSaleId),
                            args = Map(
                                'autofocus -> true,
                                '_label -> Messages("change_keeper_completeAndConfirm.dateofsale.label")
                            ),
                            dateService = dateService,
                            showTodaysDateButton = false,
                            showTodaysDateButtonId = Some(TodaysDateId),
                            hintText = Some(Messages("change_keeper_completeandconfirm.dateofsale.hint"))
                        )
                        </div>

                        <div class="form-steps">
                            <button id="@SubmitId"
                            type="submit"
                            name="action"
                            class="button">
                            @Messages("change_keeper_completeAndConfirm.submitbutton")
                            </button>
                            <br/>
                            <a class="back" id="@BackId" href="@controllers.routes.CompleteAndConfirm.back()">
                            @Messages("change_keeper_completeAndConfirm.backbutton")
                            </a>
                        </div>
                    </div>
                }

                <div id=@DateOfSaleId class="form-steps">
                @if(data.isSaleDateBeforeDisposalDate) {
                    @inputDayMonthYearTextbox(
                        field = data.form(DateOfSaleId),
                        args = Map(
                            'tabindex -> -1,
                            '_label -> Messages("change_keeper_completeAndConfirm.dateofsale.label")
                        ),
                        dateService = dateService,
                        showTodaysDateButton = false,
                        showTodaysDateButtonId = Some(TodaysDateId),
                        hintText = Some(Messages("change_keeper_completeandconfirm.dateofsale.hint"))
                    )
                } else {
                    @inputDayMonthYearTextbox(
                        field = data.form(DateOfSaleId),
                        args = Map(
                            '_label -> Messages("change_keeper_completeAndConfirm.dateofsale.label")
                        ),
                        dateService = dateService,
                        showTodaysDateButton = false,
                        showTodaysDateButtonId = Some(TodaysDateId),
                        hintText = Some(Messages("change_keeper_completeandconfirm.dateofsale.hint"))
                    )
                }
                </div>

                @valtechInputText(
                    data.form(MileageId),
                    args = modify(Map('_label -> Messages("change_keeper_completeAndConfirm.mileage.label"),
                        '_showConstraints -> false,
                        'typeTel -> true,
                        'maxLength -> Mileage.MaxLength, // Must be set independently of the pattern as the pattern is only checked when the user submits.
                        'optionalFieldKey -> true
                        //'title -> Messages("change_keeper_keeperdetailscomplete.mileage.validation")
                    ) ++ (if(config.isHtml5ValidationEnabled) Map('pattern -> Mileage.Pattern) else Nil), data.isSaleDateBeforeDisposalDate)
                )

                <div class="form-steps">
                    <button id="@SubmitId"
                        type="submit"
                        name="action"
                        @if(data.isSaleDateBeforeDisposalDate) {tabindex="-1"}
                        class="button">
                        @Messages("change_keeper_completeAndConfirm.submitbutton")
                    </button>
                    <br/>
                    <a class="back" id="@BackId"
                        @if(data.isSaleDateBeforeDisposalDate) {tabindex="-1"}
                        href="@controllers.routes.CompleteAndConfirm.back()">
                        @Messages("change_keeper_completeAndConfirm.backbutton")
                    </a>
                </div>
            }
        </div>
    </div>
    <script src="@controllers.StaticAssets.versioned(config.assetsUrl)("javascripts/firefox-dont-cache-page.js")" type="text/javascript"></script>
}