@(data: models.DateOfSaleViewModel,
  dateService: uk.gov.dvla.vehicles.presentation.common.services.DateService)(implicit lang: Lang,
  token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
  config: utils.helpers.Config)

@import views.html.helper.form
@import controllers.routes.CompleteAndConfirm
@import uk.gov.dvla.vehicles.presentation.common
@import common.mappings.Mileage
@import common.views.html.widgets.dates.valtechDate
@import common.views.html.widgets.base.csrfTokenHiddenField
@import common.views.helpers.BaseTemplate.fieldConstructor
@import common.views.html.widgets.base.{valtechInputText, valtechDeclareCheck}
@import common.views.html.widgets.dates.valtechDate
@import common.views.helpers.LabelHelper.optionalFieldKey
@import models.DateOfSaleFormModel.Form.{MileageId, DateOfSaleId, TodaysDateId}
@import views.changekeeper.CompleteAndConfirm.{BackId, SubmitId, modify}

@main(
    title = Messages("change_keeper_date_of_sale.title"),
    currentForm = Some(data.form),
    backButton = Some(controllers.routes.DateOfSale.back())
) {

    @if(data.showDateOfSaleWarning) {
    <div class="site-overlay"></div>
    }

    <div class="two-col clearfix acquire-complete-confirm">

        <div class="first-col">
        </div>

        <div class="second-col">
            <h1>@Messages("change_keeper_date_of_sale.title")</h1>

            @form(action = data.submitAction) {
                @csrfTokenHiddenField()

                @if(data.showDateOfSaleWarning) {
                    <div class="popup-modal">
                      @if(data.disposalDate.isDefined) {
                          <p>@Messages("change_keeper_completeandconfirm.dateofsale.warning", data.disposalDate.get)</p>
                      } else {
                          <p>@Messages("change_keeper_completeandconfirm.dateofsale.warning.over12Months")</p>
                      }
                        <div id=@DateOfSaleId>
                            @valtechDate(
                                field = data.form(DateOfSaleId),
                                labelText = Messages("change_keeper_completeAndConfirm.dateofsale.label"),
                                hintText = Some(Messages("change_keeper_completeandconfirm.dateofsale.hint"))
                            )
                        </div>

                        <div class="form-steps">
                            <button id="@SubmitId"
                            type="submit"
                            name="action"
                            class="button">
                            @Messages("change_keeper_date_of_sale.next")
                            </button>
                            <br/>
                            <a class="back" id="@BackId" href="@controllers.routes.DateOfSale.back()">
                            @Messages("change_keeper_completeAndConfirm.backbutton")
                            </a>
                        </div>
                    </div>
                }

                <div id=@DateOfSaleId class="form-steps">
                    @valtechDate(
                        field = data.form(DateOfSaleId),
                        labelText = Messages("change_keeper_completeAndConfirm.dateofsale.label"),
                        hintText = Some(Messages("change_keeper_completeandconfirm.dateofsale.hint")),
                        args = modify(Map.empty, data.showDateOfSaleWarning)
                    )
                </div>

                @valtechInputText(
                    data.form(MileageId),
                    args = modify(Map('_label -> Messages("change_keeper_completeAndConfirm.mileage.label"),
                        '_showConstraints -> false,
                        'typeTel -> true,
                        'maxLength -> Mileage.MaxLength, // Must be set independently of the pattern as the pattern is only checked when the user submits.
                        'optionalFieldKey -> true,
                        'validityMessage -> Messages("change_keeper_keeperdetailscomplete.mileage.validation"),
                        'class -> "ga-track-optional-text",
                        Symbol("data-ga-action") -> "mileage"
                    ) ++ (if(config.isHtml5ValidationEnabled) Map('pattern -> Mileage.Pattern) else Nil), data.showDateOfSaleWarning)
                )

                <div class="form-steps">
                    <button id="@SubmitId"
                        type="submit"
                        name="action"
                        @if(data.showDateOfSaleWarning) {tabindex="-1"}
                        class="button">
                        @Messages("change_keeper_date_of_sale.next")
                    </button>

                </div>
            }
        </div>
    </div>
}
