@(
title: String,
currentForm: Option[Form[_]] = None,
        showBanner: Boolean = true,
        backButton: Option[Call] = None)(content: Html)(implicit lang: Lang,
config: utils.helpers.Config)

@import uk.gov.dvla.vehicles.presentation.common
@import common.views.html.widgets.errorsSummary
@import views.html.common.{protoType}
@import views.html.common.govMainDefault

@govMainDefault(title) {
<div class="app vehicles-change-keeper-online">

    @if(showBanner) {
        @protoType()
    }

    <div class="section-content">

        @backButton.map { back =>
            <a class="back" id="back" href="@back">
            @Messages("change_keeper_businesskeeperdetails.backbutton")
            </a>
        }

        @errorsSummary(currentForm)

        @content

    </div>

</div>
}
