@(viewModel: models.NewKeeperChooseYourAddressViewModel,
  newKeeperName: String,
  newKeeperPostcode: String,
  newKeeperEmail: Option[String],
  dropDownOptions: Seq[(String, String)],
  isBusinessKeeper: Boolean,
  businessFleetNumber: Option[String])(implicit lang: Lang,
  token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
  config: utils.helpers.Config)

@import controllers.routes.NewKeeperChooseYourAddress
@import uk.gov.dvla.vehicles.presentation.common
@import common.views.helpers.BaseTemplate.fieldConstructor
@import common.views.html.widgets.base.valtechSelect
@import common.views.html.widgets.base.csrfTokenHiddenField
@import views.changekeeper.NewKeeperChooseYourAddress.{BackId, EnterAddressManuallyButtonId, SelectId}
@import views.html.changekeeper.main
@import views.html.helper.form
@import models.NewKeeperChooseYourAddressFormModel.Form.AddressSelectId

@main(
  progress = Some(Messages("change_keeper_progress_4")),
  title = if(dropDownOptions.isEmpty) Messages("change_keeper_newKeeperChooseYourAddress_no_address_found_title")
          else Messages("change_keeper_newKeeperChooseYourAddress_addresses_found_title"),
  currentForm = Some(viewModel.form)
) {
  <div class="two-col clearfix">
    <div class="first-col">
      <dl class="playback">
        <dt><h2>@Messages("change_keeper_newKeeperChooseYourAddress.vehicledetails")</h2></dt>
        <dt>@Messages("change_keeper_newKeeperChooseYourAddress.vehiclereg")</dt>
        <dd>@viewModel.vehicleDetails.registrationNumber</dd>
        <dt>@Messages("change_keeper_newKeeperChooseYourAddress.vehiclemake")</dt>
        <dd>@viewModel.vehicleDetails.make</dd>
        <dt>@Messages("change_keeper_newKeeperChooseYourAddress.vehiclemodel")</dt>
        <dd>@viewModel.vehicleDetails.model</dd>
      </dl>
      <div class="alert-warning print-message">
        <p><strong>@Messages("change_keeper_newKeeperChooseYourAddress.p4")</strong></p>
      </div>
    </div>

    <div class="second-col">

    <h1>@Messages("change_keeper_newKeeperChooseYourAddress_no_address_found_title")</h1>

    @form(action = NewKeeperChooseYourAddress.submit()) {
      @csrfTokenHiddenField()
      <dl class="playback">
        @if(isBusinessKeeper) {
          <dt>@Messages("change_keeper_newKeeperChooseYourAddress_newBusinessFleetNumber_label")</dt>
          @if(businessFleetNumber == None) {
            <dd>@Messages("change_keeper_newKeeperChooseYourAddress.fleetNumberNotEntered")</dd>
          } else {
            <dd>@businessFleetNumber.get</dd>
          }
        }
        @if(isBusinessKeeper) {
            <dt>@Messages("change_keeper_newKeeperChooseYourAddress_newBusinessKeeperName_label")</dt>
        } else {
            <dt>@Messages("change_keeper_newKeeperChooseYourAddress_newPrivateKeeperName_label")</dt>
        }
        <dd>@Messages("change_keeper_newKeeperChooseYourAddress_newKeeperName", newKeeperName)</dd>
        <dt>@Messages("change_keeper_newKeeperChooseYourAddress_newKeeperEmail_label")</dt>
        @if(newKeeperEmail == None) {
          <dd>@Messages("change_keeper_newKeeperChooseYourAddress.emailNotEntered")</dd>
        } else {
          <dd>@newKeeperEmail.get</dd>
        }
        <dt>@Messages("change_keeper_newKeeperChooseYourAddress_newKeeperpostcode_label")</dt>
        <dd>@newKeeperPostcode</dd>
      </dl>

      <br/>

      @if(dropDownOptions.isEmpty) {
        <div class="info-notice">
            <h2>@Messages("change_keeper_newKeeperChooseYourAddress_noaddressesfound.h2.1")</h2>
            <h2>@Messages("change_keeper_newKeeperChooseYourAddress_noaddressesfound.h2.2")</h2>
        </div>
      } else {
        @valtechSelect(viewModel.form(AddressSelectId),
          options = dropDownOptions.toSeq,
          args = Map(
            '_label -> Messages("change_keeper_newKeeperChooseYourAddress_addressSelect_label"),
            'autofocus -> true
          )
        )
      }

      @if(dropDownOptions.nonEmpty) {
        <a id="@EnterAddressManuallyButtonId" href="@controllers.routes.NewKeeperEnterAddressManually.present()">
        @Messages("change_keeper_newKeeperChooseYourAddress.manualAddressEntry")
        </a>
      }
      <div class="form-steps">
        @if(dropDownOptions.isEmpty) {
          <a id="@EnterAddressManuallyButtonId" href="@controllers.routes.NewKeeperEnterAddressManually.present()" class="button">
          @Messages("change_keeper_newKeeperChooseYourAddress.manualAddressEntry.enterManuallyButton")
          </a>
        }
        @if(dropDownOptions.nonEmpty) {
          <button id="@SelectId" type="submit" name="action" class="button">
          @Messages("change_keeper_newKeeperChooseYourAddress.submitbutton")
          </button>
        }
        <br/>
        <a class="back" id="@BackId" href="@controllers.routes.NewKeeperChooseYourAddress.back()">
        @Messages("change_keeper_newKeeperChooseYourAddress.backbutton")
        </a>
      </div>
    }
    </div>
  </div>
}
