@(viewModel: uk.gov.dvla.vehicles.presentation.common.model.NewKeeperEnterAddressManuallyViewModel)(implicit lang: Lang,
  token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
  config: utils.helpers.Config)

@import views.changekeeper.NewKeeperEnterAddressManually.{BackId, NextId}
@import uk.gov.dvla.vehicles.presentation.common
@import common.model.NewKeeperEnterAddressManuallyFormModel.Form.AddressAndPostcodeId
@import common.views.html.widgets.addressAndPostcode
@import common.views.html.widgets.alertWarning
@import common.views.html.widgets.vehicleDetailPlayback
@import common.views.html.widgets.base.csrfTokenHiddenField
@import views.html.helper.form

@main(
    title = Messages("change_keeper_newKeeperEnterAddressManually.title"),
    currentForm = Some(viewModel.form),
    backButton = Some(controllers.routes.NewKeeperChooseYourAddress.present())
) {

<div class="two-col clearfix">
    <div class="first-col">
        <h1 class="mobile-only">@Messages("change_keeper_newKeeperEnterAddressManually.title")</h1>
        @vehicleDetailPlayback(viewModel.vehicleAndKeeperDetails)()
        @alertWarning(List("print-message")) {
          <p><strong>@Messages("change_keeper_vehicledetails.warning")</strong></p>
        }
        @if(Messages("change_keeper_newKeeperEnterAddressManually.addresswarning")) {
                @alertWarning() {
                    <p>@Messages("change_keeper_newKeeperEnterAddressManually.addresswarning")
                        <a href="http://www3.royalmail.com/find-a-postcode/nojs/enquiry" target="_blank">
                                @Messages("change_keeper_newKeeperEnterAddressManually.addresswarninglinktext")</a>
                    </p>
                }
        }
    </div>

    <div class="second-col">
        <h1>@Messages("change_keeper_newKeeperEnterAddressManually.title")</h1>
        <div class="enter-address-manually uppercase-input sr-only-labels">
            @form(action = controllers.routes.NewKeeperEnterAddressManually.submit()) {
            @csrfTokenHiddenField()

            @addressAndPostcode(viewModel.form(AddressAndPostcodeId))

            <div class="form-steps">
                <button id="@NextId" type="submit" name="action" class="button">
                    @Messages("change_keeper_newKeeperEnterAddressManually.submitbutton")
                </button>
            </div>
            }
        </div>
    </div>
</div>
}
