@(data: uk.gov.dvla.vehicles.presentation.common.model.VehicleAndKeeperDetailsModel,
        privateKeeperDetailsForm: Form[uk.gov.dvla.vehicles.presentation.common.model.PrivateKeeperDetailsFormModel]
)(implicit lang: Lang,
    token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
    config: utils.helpers.Config)

@import controllers.routes.BeforeYouStart
@import controllers.routes.VehicleLookup
@import controllers.routes.PrivateKeeperDetails
@import views.html.helper.form
@import views.changekeeper.PrivateKeeperDetails.{BackId, SubmitId}
@import uk.gov.dvla.vehicles.presentation.common
@import common.mappings.Email.EmailMaxLength
@import common.views.html.widgets.alertWarning
@import common.views.html.widgets.base.valtechSelect
@import common.views.html.widgets.base.csrfTokenHiddenField
@import common.views.html.widgets.dates.valtechDate
@import common.views.helpers.BaseTemplate.fieldConstructor
@import common.views.html.widgets.base.valtechInputText
@import common.views.html.widgets.email
@import common.views.html.widgets.titlePicker
@import common.mappings.Postcode
@import common.views.html.widgets.optionalToggle
@import common.model.PrivateKeeperDetailsFormModel.Form.{TitleId, DateOfBirthId, EmailId, EmailOptionId, FirstNameId, FirstNameAndTitleMaxLength, PostcodeId}
@import common.model.PrivateKeeperDetailsFormModel.Form.{LastNameId, LastNameMaxLength, DriverNumberId, DriverNumberMaxLength}
@import views.html.common.vehicle_detail_playback

@main(
    progress = Some(Messages("change_keeper_progress_3")),
    title = Messages("change_keeper_privatekeeperdetails.title"),
    currentForm = Some(privateKeeperDetailsForm),
    backButton = Some(controllers.routes.VehicleLookup.present())
){
    @form(action = PrivateKeeperDetails.submit) {
    @csrfTokenHiddenField()

    <div class="two-col clearfix">

        <div class="first-col">
            <h1 class="mobile-only">@Messages("change_keeper_privatekeeperdetails.title")</h1>
            <dl class="playback">
                @vehicle_detail_playback(data)
            </dl>
            @alertWarning(List("print-message")) {
              <p><strong>@Messages("change_keeper_privatekeeperdetails.p3")</strong></p>
            }
        </div>

        <div class="second-col">
            <h1>@Messages("change_keeper_privatekeeperdetails.title")</h1>

            <p>@Messages("change_keeper_privatekeeperdetails.p1")</p>

            <div class="uppercase-input">
                @titlePicker(
                    field = privateKeeperDetailsForm(TitleId)
                )
            </div>
            <div class="uppercase-input">
                @valtechInputText(privateKeeperDetailsForm(FirstNameId),
                    args = Map('_label -> Messages("change_keeper_privatekeeperdetails.firstnamelabel"),
                        '_showConstraints -> false,
                        'maxLength -> FirstNameAndTitleMaxLength
                    )
                )
            </div>
            <div class="uppercase-input">
                @valtechInputText(privateKeeperDetailsForm(LastNameId),
                    args = Map('_label -> Messages("change_keeper_privatekeeperdetails.lastnamelabel"),
                        '_showConstraints -> false,
                        'maxLength -> LastNameMaxLength
                    )
                )
            </div>

            @valtechDate(
                privateKeeperDetailsForm(DateOfBirthId),
                Messages("change_keeper_privatekeeper_dateofbirth"),
                Some(Messages("change_keeper_privatekeeperdetails.dateofbirth.hint")),
                args = Map(
                    'optionalFieldKey -> true
                )
            )

            <div class="uppercase-input">
                @valtechInputText(privateKeeperDetailsForm(DriverNumberId),
                    hintText = Some(Messages("change_keeper_privatekeeperdetails.drivernumber.hint")),
                    args = Map('_label -> Messages("change_keeper_privatekeeperdetails.drivernumberlabel"),
                        '_showConstraints -> false,
                        'maxLength -> DriverNumberMaxLength,
                        'optionalFieldKey -> true
                    )
                )
            </div>
            @optionalToggle(
                privateKeeperDetailsForm(EmailOptionId),
                Messages("change_keeper_privatekeeperdetails.traderemailoption"),
                Messages("change_keeper_privatekeeperdetails.traderemailoption.yes"),
                Messages("change_keeper_privatekeeperdetails.traderemailoption.no"),
                email(
                    privateKeeperDetailsForm(EmailId),
                    labelText = Messages("change_keeper_privatekeeperdetails.emaillabel"),
                    hintText = None,
                    args = Map('maxLength -> EmailMaxLength)
                )
            )

            <div class="uppercase-input">
                @valtechInputText(privateKeeperDetailsForm(PostcodeId),
                    hintText = Some(Messages("acquire_privatekeeperdetails.postcode.hint")),
                    args = Map('_label -> Messages("acquire_privatekeeperdetails.postcodelabel"),
                        '_showConstraints -> false,
                        'maxLength -> Postcode.MaxLength
                    )
                )
            </div>

        </div>

            <div class="form-steps">
                <button id="@SubmitId" type="submit" name="action" class="button">
                    @Messages("change_keeper_privatekeeperdetails.submitbutton")
                </button>
                <br/>

            </div>
        </div>
    </div>
    }

}
