@(viewModel: models.VehicleLookupViewModel)(implicit lang: Lang,
token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
config: utils.helpers.Config)

@import controllers.routes.VehicleLookup
@import views.changekeeper.VehicleLookup.{BackId, SubmitId, VehicleSoldTo_Private, VehicleSoldTo_Business}
@import views.changekeeper.BeforeYouStart.NextId
@import views.html.helper.form
@import models.VehicleLookupFormModel.Form.{DocumentReferenceNumberId, VehicleRegistrationNumberId,VehicleSoldToId, VehicleSellerEmail}
@import uk.gov.dvla.vehicles.presentation.common
@import common.mappings.{DocumentReferenceNumber, VehicleRegistrationNumber}
@import common.views.html.widgets.base.csrfTokenHiddenField
@import common.views.helpers.BaseTemplate.fieldConstructor
@import common.views.html.widgets.base.valtechInputText
@import common.views.html.widgets.listRadioGroup
@import common.mappings.Email.EmailMaxLength

@main(
progress = Some(Messages("change_keeper_progress_2")),
title = Messages("change_keeper_vehiclelookup.title"),
currentForm = Some(viewModel.form)
) {

<div class="two-col clearfix vehicle-lookup">

    <div class="first-col">
        <div class="img-wrap img-wrap-desktop">
            <h2>@Messages("change_keeper_vehiclelookup.img.h2")</h2>
            <img src="@controllers.StaticAssets.versioned(config.assetsUrl)("images/document-reference-number.png")" alt="@Messages("change_keeper_vehiclelookup.img.alt")" />
        </div>
    </div>

    <div class="second-col">
        
        <div class="form-steps">
            <div class="step uppercase-input">
                @form(action = controllers.routes.VehicleLookup.submit()) {
                @csrfTokenHiddenField()

                @valtechInputText(viewModel.form(VehicleRegistrationNumberId),
                hintText = Some(Messages("")),
                args = Map('_label -> Messages("change_keeper_vehiclelookup.vrninputlabel"),
                           'maxLength -> VehicleRegistrationNumber.MaxLength,
                           '_showConstraints -> false,
                           'autofocus -> true
                )
                )
            </div>
            <div class="step uppercase-input">
                @valtechInputText(viewModel.form(DocumentReferenceNumberId),
                hintText = Some(Messages("change_keeper_vehiclelookup.refnumlabel.hint")),
                args = Map('_label -> Messages("change_keeper_vehiclelookup.refnumlabel"),
                           '_showConstraints -> false,
                           'typeTel -> true,
                           'maxLength -> DocumentReferenceNumber.MaxLength, // Must be set independently of the pattern as the pattern is only checked when the user submits.
                           //'title -> Messages("error.validDocumentReferenceNumber")
                           'title -> Messages("")) ++ // [SKW] for accessibility Tony removed have 'title text as the screen reader reads it twice, the knock-on effect is that our custom validation messages aren't displayed so the user has no idea what is wrong.
                (if(config.isHtml5ValidationEnabled) Map('pattern -> DocumentReferenceNumber.Pattern) else Nil)
                )
            </div>

                @valtechInputText(viewModel.form(VehicleSellerEmail),
                    hintText = Some(Messages("change_keeper_selleremail.hint")),
                    args = Map('_label -> Messages("change_keeper_vehiclelookup.selleremail"),
                        '_showConstraints -> false,
                        'maxLength -> EmailMaxLength
                    )
                )

                <h3>@Messages("change_keeper_vehiclelookup.vehiclesoldto.label")</h3>

                @listRadioGroup(field = viewModel.form(VehicleSoldToId),
                args = Map('items -> Seq(
                    VehicleSoldTo_Private -> Messages("change_keeper_vehiclelookup.vehiclesoldto.private"),
                    VehicleSoldTo_Business -> Messages("change_keeper_vehiclelookup.vehiclesoldto.business")
                ),
                '_label -> Messages("change_keeper_vehiclelookup.vehiclesoldto.hint")
                )
                )

                <div class="img-wrap img-wrap-mobile">
                    <h2>@Messages("change_keeper_vehiclelookup.img.h2")</h2>
                    <img src="@controllers.StaticAssets.versioned(config.assetsUrl)("images/document-reference-number.png")" alt="@Messages("change_keeper_vehiclelookup.img.alt")" />
                </div>

                <div class="form-steps">
                    <button id="@SubmitId" type="submit" name="action" class="button">
                        @Messages("change_keeper_vehiclelookup.button")
                    </button>
                    <br/>
                    <a class="back" id="@BackId" href="@controllers.routes.BeforeYouStart.present()">
                        @Messages("change_keeper_vehiclelookup.backbutton")
                    </a>
                </div>

                }

        </div>

    </div>
</div>
}