@(viewModel: models.VehicleLookupViewModel)(implicit lang: Lang,
token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
config: utils.helpers.Config)

@import controllers.routes.VehicleLookup
@import views.changekeeper.VehicleLookup.{BackId, SubmitId, VehicleSoldTo_Private, VehicleSoldTo_Business}
@import views.changekeeper.BeforeYouStart.NextId
@import views.html.helper.form
@import models.VehicleLookupFormModel.Form.DocumentReferenceNumberId
@import models.VehicleLookupFormModel.Form.VehicleRegistrationNumberId
@import models.VehicleLookupFormModel.Form.VehicleSoldToId
@import models.VehicleLookupFormModel.Form.VehicleSellerEmail
@import models.VehicleLookupFormModel.Form.VehicleSellerEmailOption
@import uk.gov.dvla.vehicles.presentation.common
@import common.mappings.{DocumentReferenceNumber, VehicleRegistrationNumber}
@import common.views.html.widgets.base.csrfTokenHiddenField
@import common.views.helpers.BaseTemplate.fieldConstructor
@import common.views.html.widgets.email
@import common.views.html.widgets.base.valtechInputText
@import common.views.html.widgets.listRadioGroup
@import common.views.html.widgets.optionalToggle
@import common.mappings.Email.EmailMaxLength
@import common.views.html.widgets.alertWarning

@main(
title = Messages("change_keeper_vehiclelookup.title"),
currentForm = Some(viewModel.form),
backButton = Some(Call("GET", "https://www.gov.uk/sold-bought-vehicle/y/no/sold-your-vehicle-privately"))
) {

<div class="two-col clearfix vehicle-lookup">

    <div class="second-col">
        @alertWarning() {
            <p>@Messages("change_keeper_vehiclelookup.warning")
              &nbsp;<a href="https://www.gov.uk/sold-bought-vehicle/y/no/sold-your-vehicle-into-the-motor-trade" target="_blank">@Messages("change_keeper_vehiclelookup.warninglinktext")</a>
            </p>
        }

        <h1>@Messages("change_keeper_vehiclelookup.title")</h1>

        <div class="form-steps">
            @form(action = controllers.routes.VehicleLookup.submit(),
                  (if(!config.isHtml5ValidationEnabled) Seq('novalidate -> "novalidate") else Nil): _*) {
            <div class="step uppercase-input">
                @csrfTokenHiddenField()

                @valtechInputText(viewModel.form(VehicleRegistrationNumberId),
                hintText = Some(Messages("")),
                args = Map('_label -> Messages("change_keeper_vehiclelookup.vrninputlabel"),
                           'maxLength -> VehicleRegistrationNumber.MaxLength,
                           '_showConstraints -> false,
                            'alphaNumericOnly -> true,
                            'autoFocus -> true
                    )
                )

            </div>
                @valtechInputText(
                    viewModel.form(DocumentReferenceNumberId),
                    args = Map(
                        '_label -> Messages("change_keeper_vehiclelookup.refnumlabel"),
                        'tooltipImgSrc -> controllers.StaticAssets.versioned(config.assetsUrl)("images/document-reference-number.png"),
                        'tooltipHeading -> Messages("change_keeper_vehiclelookup.v5c"),
                        '_showConstraints -> false,
                        'typeTel -> true,
                        'maxLength -> DocumentReferenceNumber.MaxLength, // Must be set independently of the pattern as the pattern is only checked when the user submits.
                        'title -> Messages("")
                    ) ++ (if(config.isHtml5ValidationEnabled)
                            Map('pattern -> DocumentReferenceNumber.Pattern,
                                'validityMessage -> Messages("error.validDocumentReferenceNumber"))
                          else Nil)
                )

                @optionalToggle(
                  viewModel.form(VehicleSellerEmailOption),
                  Messages("change_keeper_vehiclelookup.traderemailoption"),
                  Messages("change_keeper_vehiclelookup.traderemailoption.yes"),
                  Messages("change_keeper_vehiclelookup.traderemailoption.no"),
                  email(
                    viewModel.form(VehicleSellerEmail),
                    Messages("change_keeper_vehiclelookup.selleremail"),
                    hintText = None,
                    args = Map('maxLength -> EmailMaxLength) ++
                               (if(config.isHtml5ValidationEnabled)
                                   Map('validityMessage -> Messages("error.email"))
                                else Nil)
                  ),
                  gaTrackValue = true
                )

                <h3>@Messages("change_keeper_vehiclelookup.vehiclesoldto.label")</h3>

                @listRadioGroup(field = viewModel.form(VehicleSoldToId),
                    args = Map('items -> Seq(
                            VehicleSoldTo_Private -> Messages("change_keeper_vehiclelookup.vehiclesoldto.private"),
                            VehicleSoldTo_Business -> Messages("change_keeper_vehiclelookup.vehiclesoldto.business")
                        ),
                        '_label -> Messages("change_keeper_vehiclelookup.vehiclesoldto.hint"),
                        'class -> "ga-track-value",
                        Symbol("data-ga-action") -> "track_path"
                    )
                )

                <div class="form-steps">
                    <button id="@SubmitId" type="submit" name="action" class="button">
                        @Messages("change_keeper_vehiclelookup.button")
                    </button>
                </div>

                }
        </div>
    </div>

</div>
}
