//Exemplar specific

#{$htmlNamespace} {

    .second-col .playback {
        dd.tax-or-sorn {
            padding-bottom: 0;
        }
        dd.tax-or-sorn-sub {
            color: $grey-1;
            font-weight: normal;
            text-transform: none;
        }
    }

    .popup-modal {
        // appearance
        background: white;
        box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
        padding: 16px;
        border-radius: 6px;
        width: 600px;
        max-width: 90%;
        // behaviour/positioning
        display: inline-block;
        z-index: 9999;
        margin: auto;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        // modern browser vertical centering
        top: calc(100% - 50%);
        transform: translateY(calc(1% - 51%));
        // modal-active style overrides
        .form-item {
              margin-bottom: 0;
        }
    }

    .site-overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,0.65);
        z-index: 9998;
    }
} // end $htmlNamespace