//Exemplar specific

#{$htmlNamespace} {

    .second-col .playback {
        dd.tax-or-sorn {
            padding-bottom: 0;
        }
        dd.tax-or-sorn-sub {
            color: $grey-1;
            font-weight: normal;
            text-transform: none;
        }
    }

    .acquire-complete-confirm {
        div {
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 5px;
        }
        strong {
            text-transform: uppercase;
        }
    }

    .vehicle-lookup .alert-warning {
        margin-top: 1.2em;
    }
} // end $htmlNamespace
