//Config file

//html class needs to match
$htmlNamespace: ".vehicles-change-keeper-online";
$prototype-banner: $htmlNamespace + ' .prototype';

//set to "alpha" or "beta" to change colours globally
//html class needs to match
$phase: "";